################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeekShoppingMicroservice/GeekShopping/.vs/GeekShopping/FileContentIndex
/GeekShoppingMicroservice/.vs/GeekShopping/FileContentIndex
/.vs/GeekShopping/FileContentIndex
